# URL de l'API Laravel breizhairV2
BZH_API_URL=https://breizhair.fr/api
BZH_WS_URL=https://breizhair.fr

# Pour le développement local :
# BZH_API_URL=http://localhost:8000/api
# BZH_WS_URL=http://localhost:8000
